@font-face {
  font-family: "CodeProDemo";
  src: url("/fonts/font.woff2") format("woff2"),
    url("/fonts/font.woff") format("woff");
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.countryName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-top: 3px;
}

.fi {
  position: relative;
  display: inline-block; /* or 'block' depending on your layout */
  margin-bottom: 2px;
}

.fi::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0.5px;
  right: 0;
  bottom: 0;
  mix-blend-mode: overlay; /* This will blend the gradient with the flag */
}

button {
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  width: auto; /* Reset width to default */
  height: auto; /* Reset height to default */
  overflow: visible; /* Show overflow */
  line-height: normal; /* Reset line height */
  -webkit-appearance: none; /* Remove default styling for iOS buttons */
  -moz-appearance: none; /* Remove default styling for Firefox buttons */
  appearance: none; /* Remove default styling for modern browsers */
  font: inherit; /* Inherit font from parent */
  color: inherit; /* Inherit color from parent */
  text-align: left; /* Default text alignment */
  cursor: pointer; /* Maintain the cursor to signify it's clickable */
}

/* Optional: Remove focus outline for a more div-like appearance */
button:focus {
  outline: none;
}

.number {
  text-align: center;
  background-color: #64D6D2;
  color: #E954DF;
  overflow: hidden;
  mix-blend-mode: difference;
  font-family: "CodeProDemo";
  width: 40px;
  height: 36px;
  padding-top: 3px;
}

/* children of number */

.number * {
  padding-top: 6px;
}

@keyframes fallAndFade {
  to {
    opacity: 0;
    transform: translateY(100px); /* Adjust the value to control the distance */
  }
}

.fallAndFade {
  animation: fallAndFade 1s ease-in-out; /* Adjust the duration as needed */
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10; /* Make sure it's above other elements */
  white-space: nowrap; /* Prevent the tooltip from wrapping */
  left: -17px;
  top: -35px;
  font: 0.8rem "CodeProDemo";
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 22px; /* Position the arrow above the bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: black;
  z-index: -5;
}

.country.wrong {
  /* transparant*/
  opacity: 0.6;
}

.country {
  display: flex;
  flex-direction: row;
  background-color: rgba(1, 8, 11, 0.211);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.044);
  touch-action: none;
  color: white;
  font-family: "CodeProDemo";
  font-size: 1.1rem;
}

/* Correct guesses */

.country.correct::after {
  content: "Correct";
  font-size: 1.1rem;
  color: rgb(56, 244, 56);
  position: absolute;
  right: 10px;
  top: 52%;
  transform: translateY(-50%);
  text-shadow: 0 0 2px rgb(106, 178, 84);
}

.country.higher::after {
  text-shadow: 0 0 2px rgb(248, 55, 55);
  font-size: 1.1rem;
  color: rgb(239, 21, 21);
  position: absolute;
  right: 10px;
  top: 52%;
  transform: translateY(-50%);
}

.country.lower::after {
  text-shadow: 0 0 2px rgb(201, 198, 4);
  font-size: 1.1rem;
  color: rgb(248, 255, 39);
  position: absolute;
  right: 10px;
  top: 52%;
  transform: translateY(-50%);
}

.country.h-1::after {
  content: "down by 1";
}

.country.h-2::after {
  content: "down by 2";
}

.country.h-3::after {
  content: "down by 3";
}

.country.h-4::after {
  content: "down by 4";
}

.country.h-5::after {
  content: "down by 5";
}

.country.h-6::after {
  content: "down by 6";
}

.country.h-7::after {
  content: "down by 7";
}

.country.h-8::after {
  content: "down by 8";
}

.country.h-9::after {
  content: "down by 9";
}

.country.h-10::after {
  content: "down by 10";
}

.country.h-11::after {
  content: "down by 11";
}

.country.h-12::after {
  content: "down by 12";
}

.country.h-13::after {
  content: "down by 13";
}

.country.h-14::after {
  content: "down by 14";
}

.country.h-15::after {
  content: "down by 15";
}

.country.h-16::after {
  content: "down by 16";
}

.country.h-17::after {
  content: "down by 17";
}

.country.h-18::after {
  content: "down by 18";
}

.country.h-19::after {
  content: "down by 19";
}

.country.h-20::after {
  content: "down by 20";
}

.country.h-21::after {
  content: "down by 21";
}

.country.h-22::after {
  content: "down by 22";
}

.country.h-23::after {
  content: "down by 23";
}

.country.h-24::after {
  content: "down by 24";
}

.country.h-25::after {
  content: "down by 25";
}



.country.l1::after {
  content: "up by 1";
}

.country.l2::after {
  content: "up by 2";
}

.country.l3::after {
  content: "up by 3";
}

.country.l4::after {
  content: "up by 4";
}

.country.l5::after {
  content: "up by 5";
}

.country.l6::after {
  content: "up by 6";
}

.country.l7::after {
  content: "up by 7";
}

.country.l8::after {
  content: "up by 8";
}

.country.l9::after {
  content: "up by 9";
}

.country.l10::after {
  content: "up by 10";
}

.country.l11::after {
  content: "up by 11";
}

.country.l12::after {
  content: "up by 12";
}

.country.l13::after {
  content: "up by 13";
}

.country.l14::after {
  content: "up by 14";
}

.country.l15::after {
  content: "up by 15";
}

.country.l16::after {
  content: "up by 16";
}

.country.l17::after {
  content: "up by 17";
}

.country.l18::after {
  content: "up by 18";
}

.country.l19::after {
  content: "up by 19";
}

.country.l20::after {
  content: "up by 20";
}

.country.l21::after {
  content: "up by 21";
}

.country.l22::after {
  content: "up by 22";
}

.country.l23::after {
  content: "up by 23";
}

.country.l24::after {
  content: "up by 24";
}

.country.l25::after {
  content: "up by 25";
}

