.s-button {
  margin-bottom: 20px;
  color: #E53224;
  background-color: #64D6D2;;
  min-width: 200px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 7px;
  height: 36px;
  font: 1.1rem "CodeProDemo";
}

.s-button:hover,
.s-button:active {
  background-color: #E53224;
  color: #64D6D2;
}

/* add smooth transition between colors */

.s-button {
  transition: background-color 0.5s, color 0.5s, transform 0.2s ease-out;
}
