.heart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: black;
}

.heart {
  position: absolute;
  width: 21px;
  height: 21px;
  transform-origin: center; /* Scale from the heart's center */
  opacity: 0;
  animation-name: pulseInPlace;
  animation-duration: 5s;
  animation-delay: var(--delay, 0s);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.heart.pink { color: #E954DF; }
.heart.blue { color: #64D6D2; }
.heart.red { color: #E53224; }
.heart.green { color: #7BF886; }
.heart.white { color: #FFFFFF; }
.heart.yellow { color: #F7EA1A; }
.heart.orange { color: #FC7F05; }
.heart.purple { color: #A52BE8; }


.heart svg {
  width: 100%;
  height: 100%;
}

.heart svg path {
  fill: currentColor;
}

@keyframes pulseInPlace {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}