html,
body {
  height: 100%;
}

:root {
  --custom-gradient1: linear-gradient(
    0deg,
    rgba(41, 189, 212, 1) 0%,
    rgba(102, 44, 180, 1) 25%,
    rgba(41, 189, 212, 1) 50%,
    rgba(232, 212, 37, 1) 75%,
    rgba(41, 189, 212, 1) 100%
  );
  --custom-gradient2: linear-gradient(
    0deg, /* Rotate to -90 degrees for upward gradient */
    rgba(252, 128, 5, 1) 0%,
    rgba(252, 71, 201, 1) 25%,    /* Adjust the color breakpoints */
    rgba(247, 232, 26, 1) 50%,    /* Adjust the color breakpoints */
    rgba(252, 71, 201, 1) 75%,    /* Adjust the color breakpoints */
    rgba(252, 128, 5, 1) 100%
  );
  --custom-gradient3: linear-gradient(
    0deg,
    rgba(102, 44, 180, 1) 0%,
    rgb(0, 40, 218) 50%,
    rgba(102, 44, 180, 1) 100%
  );

}

body {
  background: var(--custom-gradient2);
  background-size: auto 400%; /* Increase the height to 400% for a smooth loop */
  animation: bg-animation 80s ease-in infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 50% -300%;
  }
  100% {
    background-position: 50% 100%;
  }
}

body::-webkit-scrollbar {
  display: none;
}
